@model cs470project.ViewModels.DashboardViewModel
<h4>Download Key Pairs</h4>
@using (Html.BeginForm("Download", "Dashboard"))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.ProjectId)
        @Html.LabelFor(m => m.DownloadType)
        <br />
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.DownloadType, "1", new { @checked = true }) Accessions Only
        </div>
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.DownloadType, "2") MRNs
        </div>
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.DownloadType, "3") Both
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Download</button>
    </div>
}
